Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Auth:
                    type: "s3"
                    buckets: ["av-backend-secret-files"]
                    roleName:
                        "Fn::GetOptionSetting":
                            Namespace: "aws:autoscaling:launchconfiguration"
                            OptionName: "IamInstanceProfile"
                            DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
    "/etc/pki/tls/certs/autoave-global-firebase-adminsdk.json":
        mode: "000400"
        owner: webapp
        group: webapp
        authentication: "S3Auth"
        source: https://av-backend-secret-files.s3.ap-south-1.amazonaws.com/autoave-global-firebase-adminsdk.json