commands:
    01_create_file:
        command: touch /opt/python/log/django.log
    02_change_permissions:
        command: chmod g+s /opt/python/log/django.log
    03_change_owner:
        command: chown wsgi:wsgi /opt/python/log/django.log

files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/log/app-logs/django.log
            /var/log/cfn-init.log

