Resources:
    AWSEBAutoScalingGroup:
        Type: "AWS::AutoScaling::AutoScalingGroup"
        Properties:
            HealthCheckType: "ELB"
            HealthCheckGracePeriod: "400"
option_settings:
    - namespace: aws:elasticbeanstalk:environment:process:default
        option_name: HealthCheckPath
        value: /health