commands:
    install_node:
        command: |
            sudo curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -
            sudo yum -y install nodejs 
    install_yarn:
        command: |
            sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
            sudo yum -y install yarn

container_commands:
    install_yarn:
        command: "source $PYTHONPATH/activate && sudo yarn install --ignore-engines"
    kill_process:
        command: "source $PYTHONPATH/activate && yarn run kill"
    run_process:
        command: "source $PYTHONPATH/activate && yarn run start"