container_commands:
    01_migrate:
        command: "source $PYTHONPATH/activate && python manage.py migrate"
        leader_only: true
    01_install_node:
        command: "curl -sL https://rpm.nodesource.com/setup_12.x | sudo bash - && sudo yum install nodejs"
        ignoreErrors: false
        leader_only: true
    02_install_packages:
        command: "npm install"
        ignoreErrors: false
        leader_only: true
    03_start_scheduler:
        command: "npm run start"
        ignoreErrors: false
        leader_only: true

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: motorwash.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: staticfiles
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: motorwash.settings