commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'curl -sL https://rpm.nodesource.com/setup_12.x | sudo bash - && sudo yum install nodejs'
    02_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'curl -L http://npmjs.org/install.sh | sh'
    03_node_update:
        cwd: /tmp
        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
        command: 'npm install -g n && n stable'

container_commands:
    01_migrate:
        command: "source $PYTHONPATH/activate && python manage.py migrate"
        leader_only: true
    01_install_node:
        command: "curl -sL https://rpm.nodesource.com/setup_12.x | sudo bash - && sudo yum install nodejs"
        ignoreErrors: false
        leader_only: true
    02_install_packages:
        command: "npm install"
        ignoreErrors: false
        leader_only: true
    03_start_scheduler:
        command: "npm run start"
        ignoreErrors: false
        leader_only: true

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: motorwash.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: staticfiles
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: motorwash.settings